			<div id="footer-a">
				<div id="partner" class="popup_block admin-mod">
				<h1 class="page-heading leftspacer">Partner with us</h1>
				<form>
					<table height="400">
						<tr>
							<td align="right" valign="top">Company Name:</td>
							<td valign="top"><input type="text" class="inputbox"/></td>
						</tr>
						<tr>
							<td align="right" valign="top">Full Name:</td>
							<td valign="top"><input type="text" class="inputbox"/></td>
						</tr>
						<tr>
							<td align="right" valign="top">Email:</td>
							<td valign="top"><input type="text" class="inputbox" /></td>
						</tr>
						<tr>
							<td align="right" valign="top">Mobile:</td>
							<td valign="top"><input type="text" class="inputbox" /></td>
						</tr>
						<tr>
							<td align="right" valign="top">City:</td>
							<td valign="top"><input type="text" class="inputbox" /></td>
						</tr>
						<tr>
							<td align="right" valign="top">Area:</td>
							<td valign="top"><input type="text" class="inputbox" /></td>
						</tr>
						<tr>
							<td align="right" valign="top">Zip:</td>
							<td valign="top"><input type="text" class="inputbox" /></td>
						</tr>
						<tr>
							<td align="right" valign="top">You are:</td>
							<td valign="top">
								<select class="selectlist">
									<option value="Content partner">Content partner</option>
									<option value="Media Partner">Media Partner</option>
									<option value="Online affiliate">Online affiliate</option>
									<option value="Mobile Devices">Mobile Devices</option>
									<option value="Service provider">Service provider</option>
									<option value="Telecom operator">Telecom operator</option>
									<option value="TV channels">TV channels</option>
									<option value="Radio Station">Radio Station</option>
									<option value="Other">Other</option>
								</select>
							
							</td>
						</tr>
						<tr>
							<td align="right" valign="top">Leave us a message</td>
							<td valign="top">
								<textarea class="inputtextarea"></textarea>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<input type="submit" class="mod-sub" value="Register" id="signin">
							</td>
						</tr>
					</table>
				</form>
			</div>
			
				<div class="follow-mypuja">
					<h3><img src="../../public/images/mypuja-icon.png" /> Follow My Puja<!--&{'navigation.footer.contactTitle'}--></h3>
					<ul>
						<li>
							<a href="http://www.facebook.com/mypuja" class="facebook-follow">&nbsp;</a>
						</li>
						<li>
							<a href="https://twitter.com/#!/my_puja" class="twitter-follow">&nbsp;</a>
						</li>
						<li>
							<a href="http://blog.mypuja.com/" class="blog-follow">&nbsp;</a>
						</li>
						<li>
							<a href="http://www.youtube.com/user/MyPujaTeam" class="tv-follow">&nbsp;</a>
						</li>
					</ul>
				</div>
				<div class="reach-mypuja">
				<h3><img src="../../public/images/worldmap.png" />Reach My Puja</h3>
                	<ul>
					<li class="india">
						<p class="country">India</p>
						<p class="address">22 A, M.G. Marg, Allahabad, UP, 211001</p>
					</li>
					<li class="us">
						<p class="country">USA</p>
						<p class="address">22 Phillips Road, Edison, NJ, 08817.</p>
					</li>
					<li class="mail">
						<p class="address">Email: <a href="mailto:info@mypuja.in">info@mypuja.in</a>
					</li>
					<li class="phone">
						<p class="address"><span class="bold">India:</span> +91 830-883-9635 </p>
					</li>
					<li class="sms">
						<p class="address"><span class="bold">USA:</span> +1 985 248 9665</p>
					</li>
                </div>
				
				<div class="link-mypuja">
				<h3><img src="../../public/images/link-icon.png" />Link to My Puja</h3>
						
						<div class="link-banner">
							<a href="/" class="left"><img src="@{'/public/images/link_to_mp_1.jpg'}"/></a>
							<a href="/" class="left"><img src="@{'/public/images/link_to_mp_2.jpg'}"/></a>
						</div>
						<div class="link-banner">
							<a href="/" class="left"><img src="@{'/public/images/link_to_mp_3.jpg'}"/></a>
							<a href="/" class="left"><img src="@{'/public/images/link_to_mp_4.jpg'}"/></a>
						</div>
					
                </div>
				
				<div class="store-mypuja">
				<h3><img src="../../public/images/store-icon.png" />Store My Puja</h3>
						
						<div class="link-banner">
							<a href="#" class="left">&nbsp;</a>
							<a href="#" class="left">&nbsp;</a>
						</div>
						<div class="link-banner">
							<a href="#" class="left">&nbsp;</a>
							<a href="#" class="left">&nbsp;</a>
						</div>
                </div>
            </div>
			</div>
			

	<div class="footer-b-wrapper">
		<div class="footer-b">
			<div class="for-everyone">
				<p class="title-footer-b">For Everyone</p>
				<ul>
					<li><a href="https://mypuja.wufoo.com/forms/book-my-puja-a-service-from-mypujacom/" alt="Schedule a Puja for Free! at your preferred location" title="Schedule a Puja for Free! at your preferred location">Book My Puja</a></li>
					<li><a href="https://mypuja.wufoo.com/forms/consult-a-pujari-a-service-from-mypujacom/" alt="Schedule a Consultation for Free! over Phone" title="Schedule a Consultation for Free! over Phone">Consult a Pujari</a></li>
					<li><a href="#" alt="Pray to your Favorite God Online Now!" title="Pray to your Favorite God Online Now!">Pray Now</a></li>
					<li><a href="" alt="Use My Puja Services over Mobile and SMS" title="Use My Puja Services over Mobile and SMS">Via Mobile / SMS</a></li>
					<li><a href="https://mypuja.wufoo.com/forms/donate-to-my-puja/" alt="Donate to help run the My Puja Online Temple and Services" title="Donate to help run the My Puja Online Temple and Services"  class="rounded">Donate Now!</a></li>
				</ul>
			</div>
			
			<div class="for-everyone">
				<p class="title-footer-b">For Pujaris</p>
				<ul>
					<li><a href="" alt="Find out more about Pujaris and Pujari Services" title="Find out more about Pujaris and Pujari Services">About Pujari</a></li>
					<li><a href="https://mypuja.wufoo.com/reports/find-a-pujari/" alt="Find a Pujari Near you" title="Find a Pujari Near you">Find a Pujari</a></li>
					<li><a href="#" alt="View/Download Pujari ID Card" title="View/Download Pujari ID Card">Pujari ID Cards</a></li>
					<li><a href="" alt="Why Create My Pujari Website on My Puja" title="Why Create My Pujari Website on My Puja" >Why Create My Site</a></li>
					<li><a href="https://mypuja.wufoo.com/forms/create-my-pujari-website-new-pujari-registration/" alt="Create My Pujari Website on My Puja now!" title="Create My Pujari Website on My Puja now!" class="rounded">Create My Site</a></li>
				</ul>
			</div>
			
			<div class="for-everyone for-everyone-community">
				<p class="title-footer-b">Community</p>
				<ul>
					<li><a href="" alt="How do I Get Involved with the My Puja Commuity" title="How do I Get Involved with the My Puja Commuity">Get Involved</a></li>
					<li><a href="#?w=500" alt="Partner with My Puja to promote My Puja and your Services" title="Partner with My Puja to promote My Puja and your Services" rel="partner" class="poplight">Partner with us</a></li>
					<li><a href="" alt="Learn How Contests work and the Benefits of Participating" title="Learn How Contests work and the Benefits of Participating">How Contests Work</a></li>
					<li><a href="" alt="Learn Why you should Sponsor a My Puja Event or Contest" title="Learn Why you should Sponsor a My Puja Event or Contest">Why Sponsor</a></li>
					<li><a href="" alt="Find the Sponsor Package that is right for you" title="Find the Sponsor Package that is right for you" class="rounded">Sponsor Packages</a></li>
				</ul>
			</div>
			<div class="for-everyone for-everyone-contests">
				<p class="title-footer-b">Contests</p>
				<ul>
					<li><a href="" alt="Find and Browse Contests" title="Find and Browse Contests">Showcase</a></li>
					<li><a href="" alt="Join a Contest as a Participant" title="Join a Contest as a Participant">Participate</a></li>
					<li><a href="" alt="Join a Contest as a Judge" title="Join a Contest as a Judge">Judge</a></li>
					<li><a href="" alt="Join a Contest as a Sponsor" title="Join a Contest as a Sponsor">Sponsor</a></li>
					<li><a href="" alt="Create a New Contest" title="Create a New Contest" class="rounded">Create New</a></li>
				</ul>
			</div>
			
			
			<!--<div class="for-everyone">
				<p class="title-footer-b">For Temples</p>
				<ul>
					<li><a href="#" alt="Schedule a Puja for Free! at your preferred location" title="Schedule a Puja for Free! at your preferred location">Book My Puja</a>
					<li><a href="#" alt="Find out which Puja is right for your need or occassion" title="Find out which Puja is right for your need or occassion">Find a Puja</a>
					<li><a href="#" alt="Learn for Free! how to conduct your desired Puja in a Step by Step manner" title="Learn for Free! how to conduct your desired Puja in a Step by Step manner">Puja Wizard</a>
					<li><a href="#" alt="Pray to your favorite God at MyPuja.com or using your Mobile App or via SMS" title="Pray to your favorite God at MyPuja.com or using your Mobile App or via SMS">Pray Now</a>
					<li><a href="#" alt="Donate to MyPuja to help us keep the free services running" title="Donate to MyPuja to help us keep the free services running">Donate</a>
				</ul>
			</div>-->
			
			<div class="for-everyone for-everyone-contests">
				<p class="title-footer-b">Add to MyPuja</p>
				<ul>
					<li><a href="https://mypuja.wufoo.com/forms/add-a-temple/" alt="Add Temple to My Puja" title="Add Temple to My Puja">Add a Temple</a></li>
					<li><a href="https://mypuja.wufoo.com/forms/add-a-pujari/" alt="Add a Pujari to My Puja" title="Add a Pujari to My Puja">Add a Pujari</a></li>
					<li><a href="https://mypuja.wufoo.com/forms/add-a-puja/" alt="Add a Puja to My Puja" title="Add a Puja to My Puja">Add a Puja</a></li>
					<li><a href="https://mypuja.wufoo.com/forms/add-my-cause/" alt="Add your Cause to My Puja" title="Add your Cause to My Puja">Add my Cause</a></li>
					<li><a href="http://blog.mypuja.com/submit?type=photo" alt="Add your Photos and Videos to My Puja" title="Add your Photos and Videos to My Puja" class="rounded">Add my Photos</a></li>
				</ul>
			</div>
			
			<div class="for-everyone">
				<p class="title-footer-b">About</p>
				<ul>
					<li><a href="" alt="Learn about the Vision of My Puja and its history" title="Learn about the Vision of My Puja and its history">My Puja Vision</a></li>
					<li><a href="https://www.kavanlife.com" alt="Learn more about Kavan Life and Computing our incubator" title="Learn more about Kavan Life and Computing our incubator">Kavan Life and Computing</a></li>
					<li><a href="../../public/faqs.html" alt="Frequently Asked Questions and Help" title="Frequently Asked Questions and Help">FAQs &amp; Help </a></li>
					<li><a href="#" alt="Resources for Press and Media" title="Resources for Press and Media">Press &amp; Media</a></li>
					<li><a href="#" alt="Contact Us or Submit a request for Support" title="Contact Us or Submit a request for Support" class="rounded">Contact &amp; Support</a></li>
				</ul>
			</div>
		</div>
<div class="footer-c-wrapper">
	<div class="footer-c">
		<p class="left">@ Copyright 2011. All Rights Reserved </p>
		<p class="right"><a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Work Submission Policy</a> | <a href="#">Work Showcase Policy</a> </p>
	</div>
</div>