

        <h2><p class="title-footer-b">Browse</P></h2>
        

        <ul>
            <li id="gotoc"><a href="/">Home</a></li>
            <li id="gotoc"><a href="/login">Developer Login</a></li>
            <li id="gotoc"><a href="/forgotPasswd">Forgot Password?</a></li>
        </ul>


        <h2><p class="title-footer-b">Helpful Links</P></h2>
        

        <ul>
            <li id="gotoc"><a href="/@documentation/home">Local documentation</a></li>
            <li id="gotoc"><a href="/@api/index.html">Browse Play! Java API</a></li>
            <li id="gotoc"><a href=""></a></li>
        </ul>


     <script type="text/javascript" src="@{'/public/playmanual/navigation.js'}"></script>